@import url(./__social-icon/footer__social-icon.css);
.footer__column-link{
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    color: white;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-link:nth-of-type(3n){
    margin-bottom: 0;
}