@import url(./_theme/section-subtitle_theme_dark.css);
.section-subtitle{
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-style: normal;
    font-size: 24px;
}