.header__subtitle{
    width: 388px;
    position: absolute;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    justify-self:end;
    z-index: 2;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;

} 